<div class="row col s4">
  <h5><%= @user.username %></h5>
  <div class="row">
    <h1>All Posts</h1>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th></th>
          <th>Date posted</th>
        </tr>
      </thead>

      <tbody>
        <% if current_user.posts.nil? %>
          <h4>You haven't made any posts yet.</h4>
        <% else %>
          <% @posts.each do |post| %>
            <tr>
              <td><%= post.title %></td>
              <td><%= link_to 'Read', post %></td>
              <td><%= post.created_at.to_date %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div>
    <% if @user.bio == nil %>

    <% else %>
      <p><%= @user.bio %></p>
    <% end %>
  </div>
  <% if current_user.following?(@user) %>
    <div>
      <%= render 'relationships/unfollow_form' %>
    </div>
  <% else %>
    <div class="col s4">
      <%= render 'relationships/follow_form' %>
    </div>
  <% end %>
</div>
