<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> kept this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :post_body, cols: 20, rows: 60 %>
  </div>

  <button class="btn waves-effect waves-light col" type="submit" name="action">
    Post<i class="material-icons right"></i>
  </button>
  <%= link_to 'Back', posts_path, class: 'btn' %>
<% end %>
