<p id="notice"><%= notice %></p>

<div class="row">
  <h1>All Posts</h1>
  <%= link_to 'New Post', new_post_path, class: "btn" %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th></th>
        <th></th>
        <th></th>
        <th>Date posted</th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= link_to 'Read', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= post.created_at.to_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
