<nav>
  <div class="nav-wrapper red accent-2">
    <% if user_signed_in? %>
      <%= link_to "Bloglive", post_feed_index_url(current_user.id), class: "brand-logo left" %>
    <% else %>
      <%= link_to "Bloglive", root_path, class: "brand-logo left" %>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to "Users", users_path, class: "white-text right navbar-signin" %>
      <%= link_to "Profile", edit_user_registration_path, class: "white-text right navbar-signin" %>
      <%= render 'layouts/posts_navbar' if
         controller.controller_name != 'posts'%>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "white-text right navbar-signin" %>

    <% else %>
      <%= link_to "Sign Up", new_user_registration_path, class: "white-text right navbar-signin" %>
      <%= link_to "Sign In", user_session_path, class: "white-text right navbar-signin" %>
    <% end %>

  </div>
</nav>
